@import url("https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200 !important; }

.container-fluid {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh; }

.navbar {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2); }
  .navbar .nav-link {
    padding: 10px;
    line-height: 50px;
    color: gray; }

.jumbotron {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0; }
  .jumbotron #myCarousel-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .jumbotron #myCarousel-jumbotron .carousel-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide1 {
          background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2 {
          background-image: url(../img/unsplash/alex-knight-760570-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide3 {
          background-image: url(../img/unsplash/ishan-seefromthesky-584387-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide4 {
          background-image: url(../img/unsplash/matthieu-joannon-663472-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 {
          background-image: url(../img/unsplash/fancycrave-1097236-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 {
          color: white; }
          .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2 h1, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 h1 {
            text-shadow: 0 0 30px black; }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide1 h1, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide4 h1 {
          text-shadow: 0 0 30px white; }
      .jumbotron #myCarousel-jumbotron .carousel-inner h1 {
        position: relative;
        line-height: 70px;
        font-size: 70px; }
  .jumbotron .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .jumbotron .-cta {
    margin-top: 30px; }

.-ball {
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  border-radius: 50%; }
  .-ball.answer-1 {
    top: 80%;
    left: -10px;
    margin-top: -75px; }
  .-ball.answer-2 {
    top: -75px;
    left: 10%; }
  .-ball.answer-3 {
    bottom: 20px;
    left: 50%;
    margin-left: -75px; }
  .-ball.ask-1 {
    top: 10%;
    right: 5px; }
  .-ball.ask-2 {
    top: 10%;
    right: 20%; }
  .-ball.ask-3 {
    bottom: 20%;
    left: 50%;
    margin-left: -75px; }

.-register, .-ask, .-business, .-specs {
  position: relative;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .-register .container, .-ask .container, .-business .container, .-specs .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center; }
  .-register .nextCTA, .-ask .nextCTA, .-business .nextCTA, .-specs .nextCTA {
    font-size: 20px;
    margin-top: 20px; }

.-register {
  background-color: #dae0e5; }

.-ask {
  background-color: #ced4da; }

.-business {
  background: url(../img/3rd.png) bottom right no-repeat; }

.-about {
  padding: 100px 0;
  background: url(../img/tokyo-bg-mint.jpg) center no-repeat; }

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .carousel .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible; }
  .carousel .-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .carousel .-image .frame {
      position: relative;
      width: 100%;
      min-height: 640px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      .carousel .-image .frame.-register1 {
        background-image: url(../img/register-1.gif); }
      .carousel .-image .frame.-register2 {
        background-image: url(../img/register-2.gif); }
      .carousel .-image .frame.-register3 {
        background-image: url(../img/register-3.gif); }
      .carousel .-image .frame.-ask1 {
        background-image: url(../img/ask-1.gif); }
      .carousel .-image .frame.-ask2 {
        background-image: url(../img/ask-2.gif); }
      .carousel .-image .frame.-ask3 {
        background-image: url(../img/ask-3.gif); }
  .carousel .-text .-statement {
    line-height: 50px;
    padding-top: 50px; }
  .carousel .-text .-description {
    padding-top: 20px;
    font-size: 20px; }
  .carousel .-text h2 {
    padding-top: 20px; }

.-register .carousel-indicators, .-ask .carousel-indicators {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  float: left;
  width: 100%;
  bottom: 0;
  margin: 20px 0;
  -webkit-box-pack: none;
  -ms-flex-pack: none;
  justify-content: none; }
  .-register .carousel-indicators li, .-ask .carousel-indicators li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-indent: 0;
    border-radius: 50%;
    color: black; }
    .-register .carousel-indicators li.active, .-ask .carousel-indicators li.active {
      color: white;
      background-color: black; }

.card {
  border: 0;
  margin-bottom: 50px; }

footer {
  background-color: black;
  color: #ccc;
  padding: 20px; }
  footer p {
    margin: 0; }
  footer a {
    color: #ccc; }
