// @import url('https://fonts.googleapis.com/css?family=Muli:300,600&subset=latin-ext');
// @import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,500|Gothic+A1:300,500|Heebo:300,500');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
$step-size: 50px;
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  // font-family: 'Muli', sans-serif;
  font-family: 'Encode Sans', sans-serif;
  // font-family: 'Heebo', sans-serif;
	// font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  line-height: 1.2;
  // height: 100%;
}
.-ball{
	position: absolute;
	z-index: 10;
	box-shadow: 0 0 50px -5px rgba(0,0,0,0.5);
	border-radius: 50%;
	
	&.answer-1{
		top: 80%;
		left:-10px;
		margin-top:-75px;
	}
	&.answer-2{
		top: -75px;
		left:10%;
		// margin-left:-50px;
	}
	&.answer-3{
		bottom: 20px;
		left:50%;
		margin-left:-75px;
	}
	&.ask-1{
		top: 10%;
		right:5px;
	}
	&.ask-2{
		top: 10%;
		right:20%;
		// margin-left:-50px;
	}
	&.ask-3{
		bottom: 20%;
		left:50%;
		margin-left:-75px;
	}
}
.flexbox-parent{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
            
    background: rgba(255, 255, 255, .1);
}
.tab-content{
    flex: 1; /* same as flex: 1 1 auto; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */
}
.tab-pane{
	flex: 1; /* same as flex: 1 1 auto; */
	background: rgba(0, 0, 0, .3);    
   /* Needed for when the area gets squished too far and there is content that can't be displayed */
   overflow: auto; 
}
.container-fluid{
	flex: 1;
	// height: 100%;
}

.navbar{
	padding:0;
	.nav-link{
		padding:10px; 
		line-height: 50px;
		color: black;
	}
}
#myCarousel-jumbotron{
	min-height: 80%;

	.background{
		// position: absolute;
		// top:0;
		// left:0;
		// right:0;
		// bottom:0;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		z-index: -5;
	}
	.slide-1{ background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg); }
	.slide-2{ background-image: url(../img/unsplash/alex-knight-760570-unsplash.jpg); }
	.slide-3{ background-image: url(../img/unsplash/ishan-seefromthesky-584387-unsplash.jpg); }
	.slide-4{ background-image: url(../img/unsplash/matthieu-joannon-663472-unsplash.jpg); }
	.slide-5{ background-image: url(../img/unsplash/photo-1511025075525-ef8614a101bb.jpg); }
}
.jumbotron{
	position: relative;
	// height: 96vh;
	min-height:80%;
	// padding:100px 0;
	// background-size: 55%;
	// background-repeat: no-repeat;
	// background-position: center;
	// background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg);
	// background-color: #F2F1EF;
	// color: #607D8B;
	// color: black;
	// background-size: cover;
	// margin-bottom:0;
	// border-radius: 0;
	padding:0;
	#myCarousel-jumbotron{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;

		.carousel-inner{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			// background-color: yellow;
			.carousel-item{
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				// background-color: green;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&.slide1{ background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg); }
				&.slide2{ background-image: url(../img/unsplash/alex-knight-760570-unsplash.jpg); }
				&.slide3{ background-image: url(../img/unsplash/ishan-seefromthesky-584387-unsplash.jpg); }
				&.slide4{ background-image: url(../img/unsplash/matthieu-joannon-663472-unsplash.jpg); }
				&.slide5{ background-image: url(../img/unsplash/fancycrave-1097236-unsplash.jpg); }
				// &.slide5{ background-image: url(../img/unsplash/photo-1511025075525-ef8614a101bb.jpg); }
				&.slide2, &.slide5{
					color: white;
					h1{
						text-shadow: 0 0 30px black;
					}
				}
				&.slide1, &.slide4{
					h1{
						text-shadow: 0 0 30px white;
					}
				}
			}
			h1{
				position: relative;
				line-height: 70px;
				font-size: 70px;
				// display: inline;
				// background-color: #555;
				// padding:10px;
				// white-space:pre-wrap;
    		// border:0 solid #333;
    		// border-width:0.25em 0; /* 0.25em is roughly equal to one space character. */
		    // &:after{
	     //    content:"";
	     //    position:absolute;
	     //    top:0;
	     //    right:100%;
	     //    bottom:0;
	     //    width:0.25em;
	     //     background-color: yellow;
    		// }
				// span{
				// 	background-color: white;
				// 	// padding:;
				// }
			}
		}
	}

	h1{
		
	}
	.container{
		display: flex;
    align-items: center;
    height: 100%;
	}
	.-cta{
		margin-top:30px;
	}
	
	
}
.tab-content{
	display: flex;
	flex-direction: column;
	height: 100%;
}
// .-s1{
// 	background-image: url(../img/tokyo-purple.jpg);
// 	// @extend .slidebg;
// }
// .-s2{
// 	background-image: url(../img/tokyo-sun.jpg);
// 	// @extend .slidebg;
// }
// .-s3{
// 	background-image: url(../img/tokyo-aqua.jpg);
// 	// @extend .slidebg;
// }
.-register, .-ask, .-business{
	position: relative;
	// color: white;
	color: black;
	padding:100px 0;
	.nextCTA{
		// position: relative;
		// float:left;
		font-size: 20px;
		// border: 1px solid black;
		// color: black;
		// padding:10px;
		margin-top:20px;
	}
}
.-register{
	// background-color: #dae0e5;
}
.-ask{
	// background-color: #ced4da;
	// color: black;
}
.-business{
	// background-color: #ce0074;
	background: url(../img/3rd.png) bottom right no-repeat;
}
h1, h2, h3{
	font-weight: 200 !important;
}
.bgImage{
	position: relative;
	float:left;

	// top:0;
	// left:0;
	width:100%;
	height: 35vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	// background-image: url(/img/tokyo-ginza.png);
	// @extend .slidebg;
	z-index: -5;
	// opacity: 0.8;
}
.-section{
	border-bottom:1px solid #ccc;
}
.-user{
	// position: absolute;
	// top:100px;
	// width: 280px;
	// left:50%;
	// margin-left: -140px;
	z-index: 100;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// margin:0 auto;
	// text-align: center;
	.userImage{
		width:120px;
		box-shadow: 0 0 40px -5px black;
		border-radius: 50%;
		display: block;
		border:3px solid white;
	}
}

// .-content{
// 	display: flex;
// 	// margin-top:15vh;
// 	// padding: 10rem 0;
// 	// min-height: 96vh;
// 	// height: 1080px;
// 	.container{
// 		display: flex;
// 		justify-content: center;
// 	}
// }
.-panel{
	// background-color: rgba(255,255,255,0.9);
	// padding:10px;
	margin:10px 0;
	// border-radius: 5px;
	font-size: 18px;
}

// .-steps{
// 	.-stepNumber{
// 		$step-size: 75px;
// 		p{
// 			width:$step-size;
// 			height: $step-size;
// 			line-height: $step-size;
// 			text-align: center;
// 			background-color: black;
// 			color: white;
// 			// border:2px solid black;
// 			font-size: 42px;
// 			margin:0;
// 			border-radius: 50%;
// 			// padding:10px;
// 		}
		
// 	}
// 	.-title{
// 		font-size: 32px;
// 	}
// }

/* Carousel base class */
.carousel {
  // margin-bottom: 4rem;
  // width:100%;
  // min-height: 100vh;

  display: flex;
  flex-direction: column;
	justify-content: center;
  .carousel-inner{
  	// height: 100%;
  	display: flex;
  	overflow: visible;
  }
  .carousel-item{
  }
  .nextStep{
  	position: absolute;
  	top:50%;
  	margin-top:-37.5px;
  	left:-30px;
  	width:75px;
  	height:75px;
  	transform: rotate(45deg);
  	background-color: black;
  	border-radius: 50% 0 50% 50%;
  	.number{
  		transform: rotate(-45deg);
  		line-height: 75px;
  		text-align: center;
  		color: white;
			font-size: 42px;
  		z-index: 10;
  	}
  }
  .-image{
  	// display: flex;
  	// flex-direction: column;
  	// padding:15px;
  	// padding: 50px 0;
  	display: flex;
		justify-content: center;

  	.frame{
  		position: relative;
  		width: 100%;
  		min-height:640px;
  		background-size: contain;
  		background-position: center;
  		background-repeat: no-repeat;
  		&.-register1{ background-image: url(../img/register-1.gif); }
  		&.-register2{ background-image: url(../img/register-2.gif); }
  		&.-register3{ background-image: url(../img/register-3.gif); }
  		&.-ask1{ background-image: url(../img/ask-1.gif); }
  		&.-ask2{ background-image: url(../img/ask-2.gif); }
  		&.-ask3{ background-image: url(../img/ask-3.gif); }
  	}
  	// [class*="-register"]{ background-position: center left; }
  	// [class*="-ask"]{ background-position: center right; }
  }
  .-text{
  	.-statement{
			line-height: 50px;
			padding-top:50px;
  	}
  	// display: flex;
  	// flex-direction: column;
  	.-title, .-description{
  		// display: flex;
  		// flex-direction: column;
  		// flex-basis: 50%;
  	}
  	.-description{
  		padding-top:20px;
  		font-size: 20px;
  	}
  	h2{
  		padding-top: 20px;
  		// padding-bottom: 20px;
  		// justify-content: flex-end;
  	}
  	.-stepNumber{
  		// position: absolute;
  		// top:50%;
  		// margin-top:-37.5px;
  		// right:-30px;
			
			z-index: 100;
			
			font-weight: 600;
			border-radius: 50%;
			p{
				width:$step-size;
				height: $step-size;
				line-height: $step-size;
				text-align: center;
				// background-color: black;
				color: black;
				border:4px solid black;
				font-size: 42px;
				margin:0;
				border-radius: 50%;
				// box-sizing: border-box;
				// padding:10px;
			}
		}
  }
}

.carousel-indicators{
	// bottom: -10px;
	justify-content: flex-start;
	position: relative;
	float:left;
	width: 100%;
	bottom: 0;
	margin:20px 0;
	justify-content: none;
	li{
		// height:15px;
		// width: 15px;
		font-family: 'Montserrat', sans-serif;
		font-weight: 600;
		font-size: 30px;
		width:$step-size;
		height: $step-size;
		line-height: $step-size;
		text-align: center;
		text-indent: 0;
		border-radius: 50%;
		color: black;
		// color: #94a3b3;
		// background-color: rgba(0,0,0,0.1);
		// border-style: solid;
		// border-color: black;
		// border-width: 0px;
		&.active{
			// border-width: 1px;
			color: white;
			background-color: black;
		}
	}
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

footer{
	background-color: black;
	color: #ccc;
	padding:20px;
	p{
		margin:0;
	}
	a{ color: #ccc; }
}