@import url("https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 200 !important; }

.container-fluid {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  min-height: 100vh; }

.navbar {
  padding: 0;
  background-color: rgba(255, 255, 255, 0.2); }
  .navbar .nav-link {
    padding: 10px;
    line-height: 50px;
    color: gray; }

.jumbotron {
  position: relative;
  min-height: 100vh;
  padding: 0;
  margin-bottom: 0;
  border-radius: 0; }
  .jumbotron .-logo {
    position: relative;
    z-index: 5;
    margin: 50px 0 0 0;
    height: 80px; }
  .jumbotron #myCarousel-jumbotron {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .jumbotron #myCarousel-jumbotron .carousel-indicators li {
      width: 30px;
      height: 30px;
      border-radius: 50%; }
      .jumbotron #myCarousel-jumbotron .carousel-indicators li.active {
        background-color: #e91e63; }
    .jumbotron #myCarousel-jumbotron .carousel-inner {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }
      .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover; }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide1 {
          background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2 {
          background-image: url(../img/unsplash/alex-knight-760570-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide3 {
          background-image: url(../img/unsplash/ishan-seefromthesky-584387-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide4 {
          background-image: url(../img/unsplash/matthieu-joannon-663472-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 {
          background-image: url(../img/unsplash/fancycrave-1097236-unsplash.jpg); }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 {
          color: white; }
          .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide2 h1, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide5 h1 {
            text-shadow: 0 0 30px black; }
        .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide1 h1, .jumbotron #myCarousel-jumbotron .carousel-inner .carousel-item.slide4 h1 {
          text-shadow: 0 0 30px white; }
      .jumbotron #myCarousel-jumbotron .carousel-inner h1 {
        position: relative;
        line-height: 70px;
        font-size: 70px; }
  .jumbotron .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%; }
  .jumbotron .-cta {
    margin-top: 30px; }

.tldr {
  position: relative;
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
  text-align: center; }
  .tldr .-miru {
    position: absolute; }
  .tldr b {
    font-weight: 600; }
  .tldr.-location:after, .tldr.-qoins:after, .tldr.-b2c:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid; }
  .tldr.-location {
    float: right;
    background-color: #00ffbc;
    margin-bottom: 20px; }
    .tldr.-location .-miru {
      top: -50px;
      right: 10px; }
    .tldr.-location:after {
      left: 20px;
      bottom: -20px;
      border-width: 20px 20px 0 0;
      border-color: #00ffbc transparent transparent transparent; }
  .tldr.-qoins {
    float: left;
    background-color: #ffca01;
    margin-top: 20px; }
    .tldr.-qoins .-miru {
      bottom: -50px;
      left: 10px; }
    .tldr.-qoins:after {
      left: 20px;
      top: -20px;
      border-width: 20px 0 0 20px;
      border-color: transparent transparent transparent #ffca01; }
  .tldr.-b2c {
    float: right;
    background-color: #bade01;
    margin-bottom: 20px; }
    .tldr.-b2c .-miru {
      top: -50px;
      left: 10px; }
    .tldr.-b2c:after {
      left: 20px;
      bottom: -20px;
      border-width: 20px 20px 0 0;
      border-color: #bade01 transparent transparent transparent; }

.-ball {
  position: absolute;
  z-index: 10;
  -webkit-box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 50px -5px rgba(0, 0, 0, 0.5);
  border-radius: 50%; }
  .-ball.answer-1 {
    top: 80%;
    left: -10px;
    margin-top: -75px; }
  .-ball.answer-2 {
    top: -75px;
    left: 10%; }
  .-ball.answer-3 {
    bottom: 20px;
    left: 50%;
    margin-left: -75px; }
  .-ball.ask-1 {
    top: 10%;
    right: 5px; }
  .-ball.ask-2 {
    top: 10%;
    right: 20%; }
  .-ball.ask-3 {
    bottom: 20%;
    left: 50%;
    margin-left: -75px; }

.-register, .-ask, .-business, .-specs {
  position: relative;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .-register .container, .-ask .container, .-business .container, .-specs .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-item-align: center;
    align-self: center; }
  .-register .nextCTA, .-ask .nextCTA, .-business .nextCTA, .-specs .nextCTA {
    font-size: 20px;
    margin-top: 20px; }

.-register, .-ask, .-business, .-about {
  background-attachment: fixed;
  background-size: cover;
  background-position: right bottom;
  background-repeat: no-repeat; }

.-register {
  background-image: url(../img/tokyo-duo-pink.jpg);
  background-color: #dae0e5;
  color: white; }

.-ask {
  background-image: url(../img/tokyo-duo-mint.jpg);
  background-color: #ced4da; }

.-business {
  background-image: url(../img/tokyo-bg-business.jpg); }
  .-business h2, .-business .-description {
    position: relative;
    float: left;
    width: 100%; }
  .-business h2 {
    font-size: 40px; }
  .-business .b2cform {
    position: relative;
    width: 100%;
    float: left; }
    .-business .b2cform input, .-business .b2cform button {
      position: relative;
      float: left;
      margin: 0 2.5px; }
    .-business .b2cform button {
      border-color: #bade01;
      background-color: #bade01;
      color: black; }

.-about {
  position: relative;
  float: left;
  padding: 100px 0;
  background-image: url(../img/tokyo-bg-ghost.jpg);
  min-height: 70vh;
  z-index: 5;
  background-color: #ced4da; }
  .-about h2, .-about h3, .-about h4 {
    position: relative;
    float: left;
    width: 100%; }
  .-about .qmark {
    position: absolute;
    bottom: -30px;
    right: 20%;
    width: 200px; }

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .carousel .carousel-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: visible; }
  .carousel .-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .carousel .-image .screenshot {
      border-radius: 10px;
      -webkit-box-shadow: 0 5px 50px -20px black;
      box-shadow: 0 5px 50px -20px black; }
    .carousel .-image .frame {
      position: relative;
      width: 100%;
      min-height: 640px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat; }
      .carousel .-image .frame.-register1 {
        background-image: url(../img/register-1.gif); }
      .carousel .-image .frame.-register2 {
        background-image: url(../img/register-2.gif); }
      .carousel .-image .frame.-register3 {
        background-image: url(../img/register-3.gif); }
      .carousel .-image .frame.-ask1 {
        background-image: url(../img/ask-1.gif); }
      .carousel .-image .frame.-ask2 {
        background-image: url(../img/ask-2.gif); }
      .carousel .-image .frame.-ask3 {
        background-image: url(../img/ask-3.gif); }
  .carousel .-text .-statement {
    line-height: 50px;
    padding-top: 50px; }
  .carousel .-text .-description {
    padding-top: 20px;
    font-size: 20px; }
  .carousel .-text h2 {
    padding-top: 20px; }

.-register .carousel-indicators, .-ask .carousel-indicators {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  position: relative;
  float: left;
  width: 100%;
  bottom: 0;
  margin: 20px 0;
  -webkit-box-pack: none;
  -ms-flex-pack: none;
  justify-content: none; }
  .-register .carousel-indicators li, .-ask .carousel-indicators li {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-indent: 0;
    border-radius: 50%;
    color: black; }
    .-register .carousel-indicators li.active, .-ask .carousel-indicators li.active {
      color: white;
      background-color: black; }

.card {
  border: 0;
  margin-bottom: 50px; }

footer {
  background-color: white;
  background: url(../img/3rd.png) bottom right no-repeat;
  color: #555;
  padding: 50px 0;
  min-height: 300px; }
  footer .form-group {
    position: relative;
    float: left;
    width: 100%;
    margin: 20px 0 100px 0; }
  footer input, footer button {
    position: relative;
    float: left;
    margin: 0 2.5px; }
  footer i {
    font-size: 30px;
    margin: 0 20px 50px 0; }
  footer button {
    border-color: #48f8d8v;
    background-color: #48f8d8;
    color: black; }
