@import url('https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
$step-size: 50px;
$jumbotron-step-size: 30px;

@import "../node_modules/bootstrap/scss/_functions.scss";
@import "../node_modules/bootstrap/scss/_variables.scss";
@import "../node_modules/bootstrap/scss/mixins/_breakpoints.scss";


@mixin media-breakpoint-down($name, $breakpoints: $grid-breakpoints) {
  $max: breakpoint-max($name, $breakpoints);
  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 200 !important;
}
.container-fluid{
	flex: 1;
	min-height:100vh;
}
.navbar{
	padding:0;
	background-color: rgba(255,255,255,0.2);
	.nav-link{
		padding:10px; 
		line-height: 50px;
		color: rgba(128,128,128,1);
	}
}
.jumbotron{
	position: relative;
	min-height:100vh;
	padding:0;
	margin-bottom: 0;
	border-radius: 0;
	.-logo{
		position: relative;
		z-index: 5; 
		margin: 50px 0 0 0;
		height:80px;
	}
	#myCarousel-jumbotron{
		position: absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		.carousel-indicators{
			li{
				width: $jumbotron-step-size;
				height: $jumbotron-step-size;
				border-radius: 50%;
				background-color: white;
				&.active{
					background-color: #e91e63;
				}
			}
		}
		.carousel-inner{
			position: absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			// background-color: yellow;
			.carousel-item{
				position: absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				// background-color: green;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				&.slide1{ background-image: url(../img/unsplash/zach-castillo-776521-unsplash.jpg); }
				&.slide2{ background-image: url(../img/unsplash/alex-knight-760570-unsplash.jpg); }
				&.slide3{ background-image: url(../img/unsplash/ishan-seefromthesky-584387-unsplash.jpg); }
				&.slide4{ background-image: url(../img/unsplash/matthieu-joannon-663472-unsplash.jpg); }
				&.slide5{ background-image: url(../img/unsplash/fancycrave-1097236-unsplash.jpg); }
				// &.slide5{ background-image: url(../img/unsplash/photo-1511025075525-ef8614a101bb.jpg); }
				&.slide2, &.slide5{
					color: white;
					h1{
						text-shadow: 0 0 30px black;
					}
				}
				&.slide1, &.slide4{
					h1{
						text-shadow: 0 0 30px white;
					}
				}
			}
			h1{
				@include media-breakpoint-down(sm) {
					line-height: 45px;
					font-size: 45px;
				}
				position: relative;
				line-height: 70px;
				font-size: 70px;
			}
		}
	}
	.container{
		display: flex;
    align-items: center;
    height: 100%;
	}
	.cta{
		margin-top:30px;
	}
}
.tldr{
	position: relative;
	width:235px;
	// height: 200px;
	padding:10px;
	border-radius: 10px;
	font-size:18px;
	text-align: center;
	.-miru{
		position: absolute;
	}
	b{
		font-weight: 600;
	}
	&.-location, &.-qoins, &.-b2c, &.-api{
		&:after{
			content: "";
			position: absolute;
			width: 0;
			height: 0;
			border-style: solid;
		}
	}
	&.-api{
		width: 75px;
		height:75px;
		float:right;
		background-color: #e91e63;
		margin-bottom: 30px;
		line-height: 75px;
		i{
			font-size: 40px;
			color:white;
		}
		&:after{
			left: 20px;
			bottom: -20px;
			border-width: 20px 20px 0 0;
			border-color: #e91e63 transparent transparent transparent;
		}
	}
	&.-location{
		float:right;
		background-color: #00ffbc;
		margin-bottom: 20px;
		.-miru{
			top:-50px;
			right:10px;
		}
		&:after{
			left: 20px;
			bottom: -20px;
			border-width: 20px 20px 0 0;
			border-color: #00ffbc transparent transparent transparent;
		}
	}
	&.-qoins{
		float:left;
		background-color: #ffca01;
		margin-top: 20px;
		.-miru{
			bottom:-60px;
			left:-10px;
		}
		&:after{
			left: 20px;
			top: -20px;
			border-width: 20px 0 0 20px;
			border-color: transparent transparent transparent #ffca01;
		}
	}
	&.-b2c{
		float:right;
		background-color: #bade01;
		margin-bottom: 20px;
		.-miru{
			top:-50px;
			left:10px;
		}
		&:after{
			left: 20px;
			bottom: -20px;
			border-width: 20px 20px 0 0;
			border-color: #bade01 transparent transparent transparent;
		}
	}
}
.-ball{
	position: absolute;
	z-index: 10;
	box-shadow: 0 0 50px -5px rgba(0,0,0,0.5);
	border-radius: 50%;
	
	&.answer-1{
		top: 80%;
		left:-10px;
		margin-top:-75px;
	}
	&.answer-2{
		top: -75px;
		left:10%;
		// margin-left:-50px;
	}
	&.answer-3{
		bottom: 20px;
		left:50%;
		margin-left:-75px;
	}
	&.ask-1{
		top: 10%;
		right:5px;
	}
	&.ask-2{
		top: 10%;
		right:20%;
		// margin-left:-50px;
	}
	&.ask-3{
		bottom: 20%;
		left:50%;
		margin-left:-75px;
	}
}
.-register, .-ask, .-business, .-specs{
	position: relative;
	// color: white;
	color: black;
	// padding:100px 0;
	display: flex;
	.container{
		display: flex;
		flex-direction: column;
		align-self: center;
	}
	.nextCTA{
		font-size: 20px;
		margin:20px 0;
	}
}
.-register, .-ask, .-business, .-about{
	background-attachment: fixed;
	background-size: cover;
	background-position: right bottom;
	background-repeat: no-repeat;
}
.-register{
	background-image: url(../img/tokyo-duo-pink.jpg);
	background-color: #dae0e5;
	color: white;
}
.-ask{
	background-image: url(../img/tokyo-duo-mint.jpg);
	background-color: #ced4da;
}
.-business{
	// background-color: #ce0074;
	background-image: url(../img/tokyo-bg-business.jpg);
	// background: url(../img/3rd.png) bottom right no-repeat;
	padding:100px 0; 
	h2, .-description{
		position: relative;
		float:left; 
		width:100%;
	}
	h2{
		@include media-breakpoint-down(sm) {
			font-size: 30px;
    	line-height: 30px;
		}
		font-size: 40px; 
	}
	.b2cform{
		position: relative;
		width:100%;
		float:left ;
		input, button{
			position: relative;
			float:left;
			margin: 0 2.5px 10px 2.5px;
		}
		button{ border-color: #bade01; background-color: #bade01; color: black; }
	}
}
.-about{
	position: relative;
	float:left;
	padding:100px 0;
	background-image: url(../img/tokyo-bg-ghost.jpg);
	// background-attachment: fixed;
	min-height: 70vh;
	z-index: 5;
	background-color: #ced4da;
	.-about-right{
		margin-top:150px;
		@include media-breakpoint-down(sm) {
			margin-top:0;
		}
	}
	h2, h3, h4, h5{
		position: relative;
		float:left;
		width:100%;
	}
	.qmark{
		position: absolute;
		bottom:-70px;
		left:10%;
		width:200px;
		@include media-breakpoint-down(sm) {
			display: none;
		}
		// box-shadow: 0 0 200px black;
		// border-radius: 100%;
	}
	.-qoinArea{
		// background-color: rgba(255,202,1,0.1);
		// // border:1px solid #ffca01;
		// padding:5px;
		// border-radius: 10px;
	}
}
.carousel {
  display: flex;
  flex-direction: column;
	justify-content: center;
  .carousel-inner{
  	display: flex;
  	overflow: visible;
  }
  .-image{
  	display: flex;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			margin-top: 50px;
			margin-bottom: 50px;
		}
		.screenshot{
			border-radius: 10px;
			box-shadow: 0 5px 50px -20px black;
			@include media-breakpoint-down(sm) {
				// margin-top: 50px;
				// margin-bottom: 50px;
			}
		}
  	// .frame{
  	// 	@include media-breakpoint-down(sm) {

			// }
  	// 	position: relative;
  	// 	width: 100%;
  	// 	min-height:640px;
  	// 	background-size: contain;
  	// 	background-position: center;
  	// 	background-repeat: no-repeat;
  	// 	&.-register1{ background-image: url(../img/register-1.gif); }
  	// 	&.-register2{ background-image: url(../img/register-2.gif); }
  	// 	&.-register3{ background-image: url(../img/register-3.gif); }
  	// 	&.-ask1{ background-image: url(../img/ask-1.gif); }
  	// 	&.-ask2{ background-image: url(../img/ask-2.gif); }
  	// 	&.-ask3{ background-image: url(../img/ask-3.gif); }
  	// }
  	// [class*="-register"]{ background-position: center left; }
  	// [class*="-ask"]{ background-position: center right; }
  }
  .-text{
		@include media-breakpoint-down(sm) {

		}
  	.-statement{
  		@include media-breakpoint-down(sm) {
  			font-size: 30px;
  			line-height: 30px;
  		}
			line-height: 50px;
			padding-top:50px;
  	}
  	.-description{
  		padding-top:20px;
  		font-size: 20px;
  	}
  	h2{
  		@include media-breakpoint-down(sm) {
  			font-size: 20px;
  			line-height: 20px;
  		}
  		padding-top: 20px;
  	}
  }
}
.-ask{
	.-statement{
		@include media-breakpoint-down(sm) {
			padding-top:0 !important;
		}
	}
}
.-register, .-ask{
	.carousel-indicators{
		justify-content: flex-start;
		position: relative;
		float:left;
		width: 100%;
		bottom: 0;
		margin:20px 0;
		justify-content: none;
		li{
			font-family: 'Montserrat', sans-serif;
			font-weight: 600;
			font-size: 30px;
			width:$step-size;
			height: $step-size;
			line-height: $step-size;
			text-align: center;
			text-indent: 0;
			border-radius: 50%;
			color: black;
			&.active{
				color: white;
				background-color: black;
			}
		}
	}
}
.card{
	border:0;
	margin-bottom: 50px;
}
footer{
	background-color: white;
	background: url(../img/3rd.png) bottom right no-repeat;
	color: #555;
	background-color: #e9ecef;
	padding:50px 0;
	min-height: 300px;
	@include media-breakpoint-down(sm) {
		background-size: 70%;
	}
	.form-group{
		position: relative;
		float:left;
		width:100%;
		margin: 20px 0 100px 0; 
	}
	input, button{
		position: relative;
		float:left;
		margin: 0 2.5px 10px 2.5px;
	}
	a{ color: #555; }
	i{
		font-size: 30px;
		margin:0 20px 50px 0;
	}
	button{ border-color: #48f8d8; background-color: #48f8d8; color: black; }

}