@import url('https://fonts.googleapis.com/css?family=Muli:300,600&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:300,500|Gothic+A1:300,500|Heebo:300,500');
@import url('https://fonts.googleapis.com/css?family=Encode+Sans:200,300,400,500');
body {
  // font-family: 'Muli', sans-serif;
  font-family: 'Encode Sans', sans-serif;
  // font-family: 'Heebo', sans-serif;
	// font-family: 'Gothic A1', sans-serif;
  font-weight: 300;
  line-height: 1.2;
}
.jumbotron{
	position: relative;
	height: 96vh;
	padding:100px 0;
	background-size: 55%;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url(../img/qoins.svg);
	background-color: #F2F1EF;
	color: #607D8B;
	margin-bottom:0;
	.container{
		display: flex;
    align-items: center;
    height: 100%;
	}
}
.first-slide{
	background-color: #673ab7;
	color: white;
}
.second-slide{
	background-color: #ffc107;
	color: black;
}
.third-slide{
	background-color: #00bcd4;
	color: white;
}
.-s1{
	background-image: url(../img/tokyo-purple.jpg);
	// @extend .slidebg;
}
.-s2{
	background-image: url(../img/tokyo-sun.jpg);
	// @extend .slidebg;
}
.-s3{
	background-image: url(../img/tokyo-aqua.jpg);
	// @extend .slidebg;
}
.-purple{
	position: relative;
	background-color: #673ab7;
	color: white;
}
.-ask{
	position: relative;
	background-color: #ffc107;
	color: black;
}
.-business{
	position: relative;
	background-color: #ce0074;
	color: white;
}
h1, h2{
	font-weight: 200 !important;
}
.bgImage{
	position: relative;
	float:left;

	// top:0;
	// left:0;
	width:100%;
	height: 35vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	// background-image: url(/img/tokyo-ginza.png);
	// @extend .slidebg;
	z-index: -5;
	// opacity: 0.8;
}
.-user{
	// position: absolute;
	// top:100px;
	// width: 280px;
	// left:50%;
	// margin-left: -140px;
	z-index: 100;
	// display: flex;
	// flex-direction: column;
	// align-items: center;
	// margin:0 auto;
	// text-align: center;
	.userImage{

		width:120px;
		box-shadow: 0 0 40px -5px black;
		border-radius: 50%;
		display: block;
		border:3px solid white;
	}
}

.-content{
	// margin-top:15vh;
	padding: 10rem 0;
	min-height: 96vh;
	height: 1080px;
}
.-panel{
	// background-color: rgba(255,255,255,0.9);
	// padding:10px;
	margin:10px 0;
	// border-radius: 5px;
	font-size: 18px;
}

// .-steps{
// 	.-stepNumber{
// 		$step-size: 75px;
// 		p{
// 			width:$step-size;
// 			height: $step-size;
// 			line-height: $step-size;
// 			text-align: center;
// 			background-color: black;
// 			color: white;
// 			// border:2px solid black;
// 			font-size: 42px;
// 			margin:0;
// 			border-radius: 50%;
// 			// padding:10px;
// 		}
		
// 	}
// 	.-title{
// 		font-size: 32px;
// 	}
// }

/* Carousel base class */
.carousel {
  // margin-bottom: 4rem;
  // width:100%;
  // min-height: 100vh;

  display: flex;
  flex-direction: column;
	justify-content: center;
  .carousel-inner{
  	// height: 100%;
  	display: flex;
  }
  .carousel-item{
  }
  .nextStep{
  	position: absolute;
  	top:50%;
  	margin-top:-37.5px;
  	left:-30px;
  	width:75px;
  	height:75px;
  	transform: rotate(45deg);
  	background-color: black;
  	border-radius: 50% 0 50% 50%;
  	.number{
  		transform: rotate(-45deg);
  		line-height: 75px;
  		text-align: center;
  		color: white;
			font-size: 42px;
  		z-index: 10;
  	}
  }
  .-image{
  	// display: flex;
  	// flex-direction: column;
  	// padding:15px;
  	padding: 50px 0;
  	display: flex;
		justify-content: center;
  	.frame{
  		position: relative;
  		// float:left;
  		overflow: hidden;
  		border-radius: 10px;
  		box-shadow: 0 0 15px -5px black;
  		border: 5px solid white;
  		box-sizing: border-box;
  		margin:0 auto
  	}
  }
  .-text{
  	display: flex;
  	flex-direction: column;
  	padding-right: 50px;
  	.-title, .-description{
  		display: flex;
  		flex-direction: column;
  		flex-basis: 50%;
  	}
  	.-title{
  		justify-content: flex-end;
  		align-items: flex-end;
  		h2{
  			text-align: right;
  		}
  	}
  	.-stepNumber{
  		position: absolute;
  		top:50%;
  		margin-top:-37.5px;
  		right:-30px;
			$step-size: 75px;
			z-index: 100;
			p{
				width:$step-size;
				height: $step-size;
				line-height: $step-size;
				text-align: center;
				background-color: black;
				color: white;
				// border:2px solid black;
				font-size: 42px;
				margin:0;
				border-radius: 50%;
				// padding:10px;
			}
		}
  }
}
.carousel-indicators{
	bottom: -60px;
	li{
		height:30px;
		border-radius: 50%;
	}
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

footer{
	background-color: black;
	color: #ccc;
	padding:20px;
	p{
		margin:0;
	}
	a{ color: #ccc; }
}